// main colours
$main1_soft: #8b9ddb;
$main2_soft: #b6d5ef;
$main3_soft: #89d1e7;
$main1_dull: #3e4cb9;
$main2_dull: #1f58b1;
$main3_dull: #197bbc;

// text colours
$text_black: #031025;
$text_white: #ffffff;

// accent colours
$accent1: #aee27b;
$accent2: #f6ff7f;
$accent3: #ffa872;